.aw-side-menu {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  font-size: 12px;
  border-right: 1px solid #d4d4d4;
  min-width: 13rem;

  &__category-selector {
    font-size: 14px;
    background-color: #d4d4d4;
    padding: 8px 16px;
    margin: 0;
  }

  &__category-back-icon {
    display: inline-block;
  }

  &__category-title {
    display: inline-block;
    padding: 2px 10px;
  }

  &__main-category {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  &__main-category-arrow {
    position: absolute;
    right: 0.75rem;
    bottom: 0.375rem;
  }
}

