@import '../../internal/styles/common.less';

.aw-logo {
  display: table;
  margin: auto;

  &__icon {
    transform: scale(1.7, 1.7);
    margin: 5px 2px 0 0;
  }

  &__vendor {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  &__title {
    display: table-row;
    font-size: 18px;
    padding: 0;
    line-height: 12px;
  }

  &__cells {
    display: table-row;
  }

  &__cell-left {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }

  &__cell-right {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }
}