
.aw-control-center {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;

  &__header {
    display: table-row;
    height: 0;
  }

  &__brand {
    display: table-cell;
    color: white;
//    background: darken(@primary-color, 5%);
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    padding: 0 1rem;
  }

  &__toolbar {
    display: table-cell;
    color: white;
//    background-color: @primary-color;
    text-align: right;
    vertical-align: middle;
    width: 100%;
  }

  &__user-icon {
    display: inline-block;
    padding: 2px 5px;
  }

  &__user-name {
    font-size: 16px;
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
  }

  &__logout-button {
    color: white;
    display: inline-block;
    padding: 2px 15px;
    background: none;
    border: none;
  }

  &__logout-text {
    display: inline-block;
    margin: 0 4px 0 6px;
  }

  &__content {
    display: table-row;
    width: 100%;
    height: 100%;
  }

  &__sidebar {
    display: table-cell;
    position: relative;
  }

  &__center {
    display: table-cell;
    padding: 10px 14px;
  }
}
