body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.with-border {
  border: 1px solid black
}

.with-padding {
  padding: 0.4ex 0.5ex;
}

.max-width {
  width: 100%;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.green-background {
  background-color: green;
}

.red-background {
  background-color: red
}

.orange-background {
  background-color: orange
}

.yellow-background {
  background-color: yellow
}

.blue-background {
  background-color: blue;
}

.cyan-background {
  background-color: cyan;
}