//@import '../../internal/styles/common.less';

.aw-paginator {
  &__button-page {
    border: none;
    background: none;
  }
  
  &__button-page--active {
    border: none;
    color: white;
//    background-color: @primary-color;
    border-radius: 3px;
  }

  &__button-ellipsis {
    border: none;
    background: none;
  }

  &__button-first {
    border: none;
    background: none;
  }

  &__button-previous {
    border: none;
    background: none;
  }

  &__button-next {
    border: none;
    background: none;
  }

  &__button-last {
    border: none;
    background: none;
  }

  &__input-page {
//   .common-text-field;

    width: 3em;
    margin: 1px 4px;
  }
}